<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346217177874-3tq156q3rsck45251fgv5t7o52ak88c5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346217177874-3tq156q3rsck45251fgv5t7o52ak88c5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>346217177874-ssb3su4p5fsjnu2520iaq6icbgnq3293.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSK-CZKHNLEvm7PlnzbRKn_-YLlV2vzIU</string>
	<key>GCM_SENDER_ID</key>
	<string>346217177874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.sns.login.socialLogin</string>
	<key>PROJECT_ID</key>
	<string>snslogintest-ae8a7</string>
	<key>STORAGE_BUCKET</key>
	<string>snslogintest-ae8a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346217177874:ios:59f411eb88868e1b5609cb</string>
</dict>
</plist>